{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Carry Caddie</h1>

<p><em>The best place to track what carry yardages are</em></p>

<h2>Our Mission</h2>

<p><em>Carry Caddie empowers golfers to optimize their game by providing a seamless platform to record and analyze precise carry yardages for every club in their bag, enhancing confidence and performance on the course.</em></p>

<h3>Our product</h3>

<p><em>With our product you will be able to track your carry yardages after creating an account. Users can enter new yardages at any time to ensure that your numbers are always accurate and correct.</em></p>

<h4>We welcome new users with open arms</h4>
<p><em>To begin click the button below</em></p>
<a href="/signup" id="begin-button">Begin Your Carry Caddie Journey</a>

{% endblock %}